<div class="wrapper">
  <app-vehicle-gallery [images]=images></app-vehicle-gallery>
  
  <app-sidebar (resetSetEmitter)= 'resetSet()' (setAsDefaultSetEmitter)= 'setAsDefaultSet()'></app-sidebar>

  <div class="image-drag-and-drop">
      <div class="images-list" dragula='vehicles' [dragulaModel]='images' (dragulaModelChange)='images = $event'>
          <app-editor-image-card *ngFor='let image of images ; let i = index' [imageUrl]='image.url' (clone)='cloneImage($event, i)' (delete)='deleteImage(i, image)'></app-editor-image-card>
          <button class='custom-add-new-image-button' ngbTooltip='Add new image' (click)='addNewRandomImage()'><i class="fas fa-plus"></i></button>
        </div>
    </div>


</div>
