<div class="image-card-container" [style.backgroundImage]='"url(" + imageUrl+ ")"'>
  <div class="button-container">
      <button class='btn btn-info simple-button' ngbTooltip='Clone' (click)='cloneImage()'><i class="far fa-clone"></i></button>
      <button class='btn btn-info simple-button' ngbTooltip='Delete'  (click)='deleteImage()'><i class="far fa-trash-alt"></i></button>
      <button class='btn btn-info simple-button handle' ngbTooltip='Drag'><i class="fas fa-grip-horizontal handle"></i></button>
  </div>
</div>
