<div class="sidebar">
    <img src="assets/vehicle-studio-logo.jpg" style='width: 100%; margin-top: 20px;' alt="vehicle-logo">
    
    <div class="sidebar-spacer"></div>

    <button class='simple-button add-new-gallery-button' ngbTooltip='Make new Gallery(Comming Soon!)'><i class="fas fa-plus"></i></button>
    <hr>

    <button class='btn btn-info simple-button' ngbTooltip='Set this set as default' (click)='setAsDefaultSet()'><i class="fas fa-save"></i></button>
    <button class='btn btn-info simple-button' ngbTooltip='Reset to default set' (click)='resetSet()'><i class="fas fa-redo"></i></button>
  </div>